.langswitcher{
    position: absolute;
    z-index: 15000;

    top: 0;
    height: 110px;
    width: 53px;

    padding-top: 35px;
    text-align: center;

    color: #055c6a;

    background-image: url('../../images/ui/flag.png');
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
    -webkit-user-select: none;
}