.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
}

.nav__mobile{
    display: flex;
    align-self: center;
}

