.main__container{
    max-width: 1030px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 165px;
    padding-right: 165px;
}

.main__container_wide{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.main__container_gallery{
    max-width: 1170px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 95px;
    padding-right: 95px;
}

@media screen and (max-width:689px) {
    .main__container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .main__container_gallery{    
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .main__container{
        padding-left: 80px;
        padding-right: 80px;
    }

    .main__container_gallery{    
        padding-left: 20px;
        padding-right: 20px;
    }
}